<!DOCTYPE html>
<html lang="en">

{% extends "mainApp/base.html" %}
{% load static %}
{% block titulo %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>LOGIN</title>
</head>
{% endblock %}

<body>
{% block cambiar %}
    <h2>Inicia Sesión</h2>
    <form action="{% url 'Login' %}" method = "POST"> {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">INICIAR SESION</button>
    </form>
{% endblock %}
</body>
</html>